<h3 class="text-center">Cadastro Users</h3>
<div class="input-group mb-3" style="width: 500px">
  <input [(ngModel)]="idUser" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="IdUser" />

  <a (click)="consultar()" name="" id="" class="btn btn-primary" role="button">Consultar</a>
  <a (click)="saveUser()" name="" id="" class="btn btn-success" role="button">Salvar</a>
  <a (click)="deleteUser()" name="" id="" class="btn btn-danger" role="button">Excluir</a>
</div>




<div *ngIf="user" class="card text-white bg-primary" style="width: 500px">
  <div class="card-body">
    <h4 class="card-title">User</h4>

    <p class="card-text">{{ user.firstName }}</p>
    <p class="card-text">{{ user.idUser }}</p>
    <p class="card-text">{{ user.email }}</p>
  </div>
</div>
